<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hi, {{ name }}</h1>
    <h2>today is {{ date }}</h2>
    <section>
        {% for article in articles %}
        <h3>{{ article.title }}</h3>
        <p>Published by {{ article.author }} on {{ article.published_date }}</p>
        <p>{{ article.body }}</p>
   
        {% endfor %}
    </section>
</body>
  </html>